### ---------------------------------
### Mandatory (in production) values:
### Should be set during deployment
### ---------------------------------

# Secret key for Django:
CTRL_SECRET_KEY="django-insecure-abcde"

# Secret key, stored in /etc/olimp-control/key on remote machines
CTRL_AUTH_KEY="very_secret_olimp-control.py_key"

# Postgres database hostname:
CTRL_DB_HOST="postgres-db"

# Postgres database password:
CTRL_DB_PASSWORD="test123"

### ---------------------------------
### optional values:
### ---------------------------------
# Postgres database port, username and database name. If not set, defaults
# to the values set in official postgres docker image
# CTRL_DB_PORT="5432"
# CTRL_DB_USER="postgres"
# CTRL_DB_NAME="postgres"

# CTRL_PRODUCTION controls Django environment: dev or prod.
# Empty string ("") or unset is dev, everything else - prod
# CTRL_PRODUCTION="True"

# CTRL_PRODUCTION where static files are collected, pretty much only useful
# for the docker image
# CTRL_STATIC_ROOT="/ctrl/static"
