<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}LMIO CTRL{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static "ctrl.css" %}">
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <nav>
            <span class="brand">LMIO CTRL</span>
            <a href="{% url 'ctrl.index' %}">Statusas</a>
            <a href="{% url 'ctrl.task_list' %}">Užduotys</a>
            <a href="{% url 'ctrl.create_task' %}">Nauja užduotis</a>
            <a href="{% url 'ctrl.unknown_computers' %}">Nežinomi</a>
            <a href="{% url 'admin:index' %}">Django admin</a>
            {% if user.is_authenticated %}
            <span class="nav-right">{{ user.username }}</span>
            {% endif %}
        </nav>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        <script src="{% static "ctrl.js" %}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
