{% extends "ctrl/base.html" %}

{% block title %}{{ computer.name }} - LMIO CTRL{% endblock %}

{% block content %}
<p>{{ computer.name }}</p>
<p>{{ computer.machine_id }}</p>
<p>Location: {{ computer.location.name }}</p>
<p>checkinai:</p>
{% if checkins %}
    <ul>
    {% for c in checkins %}
        <li><span>{{ c.timestamp }}</span><span>{{ c.uptime }}</span>
    {% endfor %}
    </ul>
{% else %}
<p>nera</p>
{% endif %}
<p>ticketai:</p>
{% if tickets %}
    <ul>
    {% for t in tickets %}
        <li>
            <a href="{% url 'ctrl.ticket' t.pk %}">Ticket id {{ t.pk }}</a>
            <span>{{ t.status_string }}</span>
            {% if t.is_completed %}
            <span>exitcode: {{ t.exit_code }} @ {{ t.runtime_rounded }}</span>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
<p>nera</p>
{% endif %}
{% endblock %}
