{% extends "ctrl/base.html" %}

{% block title %}{{ computer.name }} - LMIO CTRL{% endblock %}

{% block content %}
<h3>Computer: {{ computer.name }}</h3>
<table>
    <tr>
        <td>Location: </td>
        <td>{{ computer.location.name }}</td>
    </tr>
    <tr>
        <td>Most recent ping: </td>
        <td>{{ computer.most_recent_checkin.timestamp }}</td>
    </tr>
    <tr>
        <td>MID: </td>
        <td>{{ computer.machine_id }}</td>
    </tr>
</table>
<p>checkinai:</p>
{% if checkins %}
    <table>
    {% for c in checkins %}
        <tr>
            <td>{{ c.timestamp }}</td>
            <td>{{ c.uptime }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
<p>nera</p>
{% endif %}
<p>ticketai:</p>
{% if tickets %}
    <table>
    {% for t in tickets %}
        <tr>
            <td><a href="{% url 'ctrl.ticket' t.pk %}">Ticket id {{ t.pk }}: {{ t.task.name }}</a></td>
            <td>{{ t.status_string }}</td>
            {% if t.is_completed %}
            <td>exitcode: {{ t.exit_code }} @ {{ t.runtime_rounded }}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
{% else %}
<p>nera</p>
{% endif %}
{% endblock %}
