{% extends "ctrl/base.html" %}

{% block title %}{{ location.name }} - LMIO CTRL{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{{ location.name }}</h1>
</div>
<div class="connection-lost" id="connection-lost">Ryšys nutrūko</div>
<div id="location-status">
    {% include "ctrl/partial/location_partial.html" %}
</div>
{% endblock %}

{% block scripts %}
<script>
startAutoRefresh('{% url "ctrl.location_partial" location.pk %}', 'location-status', 'connection-lost');
</script>
{% endblock %}
