{% extends "ctrl/base.html" %}

{% block title %}Užduotys - LMIO CTRL{% endblock %}

{% block content %}
<h3>Užduotys</h3>
<table>
{% for t in task_list %}
    <tr>
        <td><a href="{% url 'ctrl.task' t.pk %}">{{ t.name }}</td>
        <td>{{ t.added }}</td>
        <td class="new-tickets">{{ t.new_count }}</td>
        <td class="in-progress-tickets">{{ t.in_progress_count }}</td>
        <td class="completed-tickets">{{ t.completed_count }}</td>
        {% if t.error_count %}
        <td class="error-tickets">{{ t.error_count }}</td>
        {% endif %}
    </tr>
{% endfor %}
</table>
{% endblock %}
