{% extends "ctrl/base.html" %}

{% block title %}Užduotis {{ task.pk }} - LMIO CTRL{% endblock %}

{% block content %}
<h3>Task: {{ task.name }}</h3>
<table>
    <tr>
        <td>Run as:</td>
        <td>{{ task.run_as }}</td>
    </tr>
    <tr>
        <td>Date:</td>
        <td>{{ task.added }}</td>
    </tr>
    <tr>
        <td>Author:</td>
        <td>{{ task.author.username }}</td>
    </tr>
</table>
<h3>Payload:</h3>
<pre>{{ task.payload }}</pre>
<h3>Tickets:</h3>
<p>
    New: {{ task.new_count }},
    in progress: {{ task.in_progress_count }},
    completed: {{ task.completed_count }}
    {% if task.error_count %}
    , non-zero exit: {{ task.error_count }}
    {% endif %}
</p>
<table>
{% for ticket in tickets %}
    <tr>
        <td>
            <a href="{% url 'ctrl.ticket' ticket.pk %}">
                Ticket ID {{ ticket.pk }}<br>
                {{ ticket.computer.name }} @ {{ ticket.computer.location.name }}
            </a>
        </td>
        <td>
            {{ ticket.status_string }}
        </td>
        {% if ticket.is_completed %}
        <td>
            exitcode: {{ ticket.exit_code }}
            runtime: {{ ticket.runtime_rounded }}
        </td>
        {% endif %}
    </tr>
{% endfor %}
</table>
{% endblock %}
