{% extends "ctrl/base.html" %}

{% block title %}Užduotis {{ task.pk }} - LMIO CTRL{% endblock %}

{% block content %}
<h3>Task: {{ task.name }}</h3>
<table>
    <tr>
        <td>Run as:</td>
        <td>{{ task.run_as }}</td>
    </tr>
    <tr>
        <td>Date:</td>
        <td>{{ task.added }}</td>
    </tr>
    <tr>
        <td>Author:</td>
        <td>{{ task.author.username }}</td>
    </tr>
</table>
<h3>Payload:</h3>
<pre>{{ task.payload }}</pre>
<h3>Tickets:</h3>
{% for ticket in tickets %}
<p><a href="{% url 'ctrl.ticket' ticket.pk %}">Ticket ID {{ ticket.pk }} {{ ticket.computer.name }}</a></p>
{% endfor %}
{% endblock %}
