{% extends "ctrl/base.html" %}

{% block title %}Užduotis {{ task.pk }} - LMIO CTRL{% endblock %}

{% block content %}
<h3>Užduotis: {{ task.name }}</h3>
<table>
    <tr>
        <td>Leisti kaip:</td>
        <td>{{ task.run_as }}</td>
    </tr>
    <tr>
        <td>Pridėta:</td>
        <td>{{ task.added }}</td>
    </tr>
    <tr>
        <td>Autorius:</td>
        <td>{{ task.author.username }}</td>
    </tr>
</table>
<h3>Kodas:</h3>
<pre>{{ task.payload }}</pre>
<h3>Bilietėliai:</h3>
<p>
    Nauji: <span class="new-tickets">{{ task.new_count }}</span>,
    vykdomi: <span class="in-progress-tickets">{{ task.in_progress_count }}</span>,
    įvykdyti: <span class="completed-tickets">{{ task.completed_count }}</span>
    {% if task.error_count %}
    , su klaidom: <span class="error-tickets">{{ task.error_count }}</span>
    {% endif %}
</p>
<table>
{% for ticket in tickets %}
    <tr>
        <td>
            <a href="{% url 'ctrl.ticket' ticket.pk %}">
                Ticket ID {{ ticket.pk }}<br>
                {{ ticket.computer.name }} @ {{ ticket.computer.location.name }}
            </a>
        </td>
        <td>
            {{ ticket.status_string }}
        </td>
        {% if ticket.is_completed %}
        <td>
            exitcode: {{ ticket.exit_code }}
            runtime: {{ ticket.runtime_rounded }}
        </td>
        {% endif %}
    </tr>
{% endfor %}
</table>
{% endblock %}
